/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 100px; /* Adjust the padding to match the height of your header */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

nav ul li button:hover {
    top: -3px;
    left: -3px;
    box-shadow: 0px 0px 0px #000, 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.night-mode-btn {
    width: 40px; /* Make the button square */
    height: 40px; /* Make the button square */
    padding: 0; /* Remove default padding */
    align-items: center;
    justify-content: center;
}

.night-mode-btn i {
    top: 3px;
    font-size: 20px; /* Size of the moon icon */
    pointer-events: none; /* Ensure icon doesn't interfere with button click */
}

section h2 {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 20px 40px;
    border-radius: 0px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

section h2 button {
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.dropdown-btn {
    display: none; /* Hide the dropdown button by default */
}

section h2 button:hover {
    top: -3px;
    left: -3px;
    box-shadow: 0px 0px 0px #000, 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.button2-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin-top: 20px; /* Margin to separate from other elements */
}

.button2 {
    width: 50px; /* Set the width of the square button */
    height: 50px; /* Set the height of the square button */
    background-color: #fff;
    color: #000000;
    border: 1px solid #000;
    border-radius: 0px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove underline from links */
}

.button2:hover {
    top: -3px;
    left: -3px;
    box-shadow: 0px 0px 0px #000, 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.btn2 {
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    text-decoration: none; /* Ensure text has no underline */
    display: inline-block; /* Ensure it behaves like a button */
}

.btn2:hover {
    top: -3px;
    left: -3px;
    box-shadow: 0px 0px 0px #000, 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.section-header {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 0%;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 500px;
}

section {
    padding: 50px;
    text-align: center;
    margin: 0; /* Added to remove default margins */
    margin-bottom: px;
}

section#intro {
    background-color: #f4f4f4;
    padding-bottom: 0px;
}

section h2 {
    margin-top: -20px;
    margin-bottom: 50px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* sections */
.section-header {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 0%;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 500px;
}

/* experience card */
.experience-card {
    display: flex;
    align-items: center;
    background-color: #002E5D; /* Adjust background color as needed */
    border-radius: 0px;
    padding: 100px;
    margin: 1px 0px 1px 0px;
    width: 100%; /* Adjust the width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #F5F5F5; /* Adjust text color as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.experience-card .left-column {
    flex-shrink: 0;
    margin-left: 400px; /* Add left margin for centralization */
}

.experience-card img {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;
    margin-right: 0px;
}

.experience-card .right-column {
    flex: 1;
    margin-right: 400px; /* Add right margin for centralization */
}

.experience-card h3 {
    margin-top: 0;
    font-size: 24px; /* Adjust font size as needed */
    color: #F5F5F5; /* Adjust text color as needed */
}

.experience-card p {
    margin: 10px 0;
    color: #F5F5F5; /* Adjust text color as needed */
}

.experience-card-links {
    margin-top: 10px;
}

.experience-card .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #F5F5F5; /* Adjust button background color as needed */
    color: #002E5D; /* Adjust button text color as needed */
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #000; /* Add shadow for 3D effect */
}

.experience-card .btn:hover {
    background-color: #D4D4D4; /* Adjust hover background color as needed */
}

/* project cards */
.project-card {
    display: flex;
    align-items: center;
    background-color: #002E5D; /* Adjust background color as needed */
    border-radius: 0px;
    padding: 100px;
    margin: 1px 0px 1px 0px;
    width: 30vw; /* Adjust width as needed to fit side by side */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #F5F5F5; /* Adjust text color as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 1px; /* Space between rows */
}

.project-card .left-column {
    flex-shrink: 0;
    margin-right: 0px; /* Add right margin for spacing */
}

.project-card img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.project-card .right-column {
    flex: 1;
}

.project-card h3 {
    margin-top: 0;
    font-size: 24px; /* Adjust font size as needed */
    color: #F5F5F5; /* Adjust text color as needed */
}

.project-card p {
    margin: 10px 0;
    color: #F5F5F5; /* Adjust text color as needed */
}

.project-card-links {
    margin-top: 10px;
}

.project-card .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #F5F5F5; /* Adjust button background color as needed */
    color: #002E5D; /* Adjust button text color as needed */
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #000; /* Add shadow for 3D effect */
}

.project-card .btn:hover {
    background-color: #D4D4D4; /* Adjust hover background color as needed */
}

/* cca-card */
.cca-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping of items */
    gap: 1px; /* Space between the cards */
}

.cca-card {
    display: flex;
    align-items: center;
    background-color: #002E5D; /* Adjust background color as needed */
    border-radius: 0px;
    padding: 100px;
    width: 30vw; /* Adjust width as needed to fit side by side */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #F5F5F5; /* Adjust text color as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 1px; /* Space between rows */
}

.cca-card .left-column {
    flex-shrink: 0;
    margin-right: 0px; /* Add right margin for spacing */
}

.cca-card img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;
}

.cca-card .right-column {
    flex: 1;
}

.cca-card h3 {
    margin-top: 0;
    font-size: 24px; /* Adjust font size as needed */
    color: #F5F5F5; /* Adjust text color as needed */
}

.cca-card p {
    margin: 10px 0;
    color: #F5F5F5; /* Adjust text color as needed */
}

.cca-card-links {
    margin-top: 10px;
}

.cca-card .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #F5F5F5; /* Adjust button background color as needed */
    color: #002E5D; /* Adjust button text color as needed */
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #000; /* Add shadow for 3D effect */
}

.cca-card .btn:hover {
    background-color: #D4D4D4; /* Adjust hover background color as needed */
}

.skills-section {
    width: 80%;
    margin: 0 auto;
}

.skills-category {
    margin-bottom: 30px;
}

.skills-category h2 {
    font-size: 24px;
    font-weight: bold;
}

.skills-category .skills-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 0%;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.skills-category .skills-box img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.skills-category .skills-box p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.skills-category .skills-box div {
    display: flex;
    align-items: center;
}

body.night-mode {
    background-color: #222;
    color: #fff;
}

body.night-mode header {
    background-color: #333;
    border-bottom: 1px solid #555; /* Adjusted for better contrast */
}

body.night-mode footer {
    background-color: #333;
}

body.night-mode .project-card {
    background-color: #444;
    border-color: #666;
}

body.night-mode nav ul li button {
    background-color: #444;
    color: #fff;
    border-color: #fff;
}

body.night-mode nav ul li button:hover {
    background-color: #666;
}

body.night-mode .button2 {
    background-color: #444;
    color: #fff;
    border-color: #fff;
}

body.night-mode .button2:hover {
    background-color: #666;
}

body.night-mode section h2,
body.night-mode section h2 button {
    background-color: #444;
    color: #fff;
    border-color: #666;
}

body.night-mode .experience-card,
body.night-mode .cca-card,
body.night-mode .skills-category .skills-box {
    background-color: #444;
    color: #fff;
    border-color: #666;
}

body.night-mode .experience-card h3,
body.night-mode .cca-card h3,
body.night-mode .skills-category h3 {
    color: #ffa726; /* A color that stands out against the dark background */
}

body.night-mode .experience-card p,
body.night-mode .cca-card p,
body.night-mode .skills-category p {
    color: #ddd; /* Lighter shade for text */
}

body.night-mode .btn,
body.night-mode .experience-card .btn,
body.night-mode .cca-card .btn,
body.night-mode .skills-category .skills-box .btn {
    background-color: #666;
    color: #fff;
    border-color: #fff;
}

body.night-mode .btn:hover,
body.night-mode .experience-card .btn:hover,
body.night-mode .cca-card .btn:hover,
body.night-mode .skills-category .skills-box .btn:hover {
    background-color: #888;
}

body.night-mode .night-mode-btn {
    background-color: #666;
    color: #fff;
    border-color: #fff;
}

body.night-mode .night-mode-btn:hover {
    background-color: #888;
}

/* Popup Styles */
.others-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1001;
    width: 300px;
    text-align: center;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.others-popup {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1001;
}

.others-popup button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.others-popup button:hover {
    background-color: #f0f0f0;
}

.others-popup button:last-child {
    margin-bottom: 0;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        display: none; /* Hide navigation items by default */
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .dropdown-btn {
        display: table-row;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        padding: 10px;
        border-radius: 0px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 3px 3px 0px #000, 6px 6px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease;
        margin-bottom: 10px;
    }

    nav.show ul {
        display: flex; /* Show navigation items when dropdown is toggled */
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    nav ul li button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .night-mode-btn {
        width: 35px;
        height: 35px;
    }

    section {
        padding: 20px;
    }

    section#intro {
        padding: 20px;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    section h2 {
        font-size: 18px;
        padding: 15px 20px;
        margin-bottom: 20px;
        margin-top: -20px;

    }

    .button2-container {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button2 {
        width: 45px;
        height: 45px;
        font-size: 24px;
    }

    .experience-card {
        flex-direction: column;
        padding: 20px;
    }
    
    .experience-card .left-column {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .experience-card img {
        width: 100px;
        margin-bottom: 20px;
    }

    .experience-card .right-column {
        margin-right: 0;
        text-align: center;
    }

    .experience-card h3 {
        font-size: 20px;
    }

    .experience-card p {
        font-size: 14px;
    }

    .skills-category .skills-box {
        flex-direction: column;
        text-align: center;
    }

    .skills-category .skills-box img {
        margin-bottom: 10px;
    }

    /* Update for project and CCA cards to display in columns */
    .project-container, .cca-container {
        flex-direction: column; /* Ensure the container displays items in a column */
    }

    .project-card, .cca-card {
        flex-direction: column;
        padding: 20px;
        width: 100%; /* Make sure the cards take full width in the column layout */
        margin-bottom: 0px; /* Add space between cards */
    }

    .project-card .left-column, .cca-card .left-column {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .project-card img, .cca-card img {
        width: 100px;
        margin-bottom: 20px;
    }

    .project-card .right-column, .cca-card .right-column {
        margin-right: 0;
        text-align: center;
    }

    .project-card h3, .cca-card h3 {
        font-size: 20px;
    }

    .project-card p, .cca-card p {
        font-size: 14px;
    }
}
